@import url("../../../theme.module.css");

.button {
    flex: 1;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
    color: var(--white);
    background-color: var(--gray-dark);
    border: none;
    outline: 0;
    border-radius: 8px;
    width: 340px;
    margin: 0 auto;
    cursor: pointer;
}
.button.disabled {
    color: var(--gray-light);
    background-color: var(--gray-dark);
    cursor: default;
}